<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.dom_v.BlackList">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ru.dom_v.BlackList.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ru.dom_v.BlackList.SecondActivity"></activity>
        <activity android:name="ru.dom_v.BlackList.AddActivity"></activity>
        <activity android:name="ru.dom_v.BlackList.PreferencesActivity"></activity>
        <activity android:name="ru.dom_v.BlackList.AddBidActivity"></activity>
        <activity android:name="ru.dom_v.BlackList.LoginActivity"></activity>
        <receiver android:name=".CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="ru.dom_v.BlackList" />
            </intent-filter>
        </receiver>
        <service android:name=".RegistrationService"
            android:exported="false" />
        <service
            android:name=".TokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".NotificationsListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>
    <permission
        android:name="ru.dom_v.BlackList.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="ru.dom_v.BlackList.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

</manifest>